<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
    <body>
    <div th:replace="layout :: flash"></div>
    <header th:replace="layout :: header"></header>
        <nav>
            <ul>
                <li class="selected"><a th:href="@{/}">Projects</a></li>
                <li><a th:href="@{/collaborators}">Collaborators</a></li>
                <li><a th:href="@{/roles}">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <div class="project-list">
                    <div class="project" th:each="project : ${projects}">
                        <h2><a th:href="@{|/projects/${project.id}|}" th:text="${project.name}">Website Project</a></h2>
                        <p th:text="${project.description}">Design and build a custom website</p>
                        <div>
                            <span class="tag" th:if="${project.status}=='Active'" th:style="|background-color: ${active};|" th:text="${project.status}">Active</span>
                            <span class="tag" th:if="${project.status}=='Archived'" th:style="|background-color: ${archived};|" th:text="${project.status}">Active</span>
                            <span class="tag" th:if="${project.status}=='Not Started'" th:style="|background-color: ${notstarted};|" th:text="${project.status}">Active</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>