<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
    <body>
    <header th:replace="layout :: header"></header>
        <nav>
            <ul>
                <li class="selected"><a th:href="@{/}">Projects</a></li>
                <li><a th:href="@{/collaborators}">Collaborators</a></li>
                <li><a th:href="@{/roles}">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <div class="project-list">
                    <div class="project" th:each="project : ${projects}">
                        <h2><a th:href="@{|projects/${project.id}|}" th:text="${project.name}">Website Project</a></h2>
                        <p th:text="${project.description}">Design and build a custom website</p>
                        <div th:switch="${projectStatus.name}">
                            <span th:case="'Active'" class="tag" th:style="|background-color: ${projectStatus.ACTIVE.hexCode};|" th:text="${project.status}">Active</span>
                            <span th:case="'Archived'" class="tag" th:style="|background-color: ${projectStatus.ARCHIVED.hexCode};|" th:text="${project.status}">Active</span>
                            <span th:case="'Not Started'" class="tag" th:style="|background-color: ${projectStatus.NOTSTARTED.hexCode};|" th:text="${project.status}">Active</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>