<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
    <body>
    <div th:replace="layout :: flash"></div>
    <header th:replace="layout :: header"></header>
        <nav>
            <ul>
                <li class="selected"><a th:href="@{/}">Projects</a></li>
                <li><a th:href="@{/collaborators}">Collaborators</a></li>
                <li><a th:href="@{/roles}">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <form th:action="@{|/projects/${project.id}/update-collaborators|}" method="post" th:object="${project}">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{description}"/>
                    <input type="hidden" th:field="*{status}"/>
                    <div th:each="role, i: ${projectRoles}">
                        <input type="hidden" th:field="*{rolesNeeded[__${i.index}__].id}"/>
                    </div>
                    <label th:text="|Edit Collaborators: ${project.name}|">Edit Collaborators: Website Project</label>
                    <ul class="checkbox-list">
                        <li th:each="entry : ${mapOfRolesNeededToCollaboratorsWithThatRole}"><span class="primary" th:text="${entry.key}">Developer</span>
                            <!--if collaborators are available for this role than show a dropdown selection list-->
                            <div th:if="${#lists.size(entry.value) > 0}" class="custom-select" style="position: relative;">
                                <span class="dropdown-arrow"></span>
                                <select th:field="*{collaborators}">
                                    <option th:each="collaborator : ${entry.value}" th:value="${collaborator.id}" th:text="${collaborator.name}">Michael Pemulis</option>
                                </select>
                            </div>
                            <!--if no collaborators are available for this role than show the paragraph below-->
                            <p th:if="${#lists.size(entry.value) == 0}" style="float: right;">[No collaborators available for this role]</p>
                        </li>
                    </ul>
                    <div class="actions">
                        <button type="submit" class="button">Save</button>
                        <a th:href="@{|/projects/${project.id}|}" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>