<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
    <body>
    <header th:replace="layout :: header"></header>
        <nav>
            <ul>
                <li><a href="index.html">Projects</a></li>
                <li><a href="collaborators.html">Collaborators</a></li>
                <li class="selected"><a href="roles.html">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <form>
                    <h2>Manage Roles</h2>
                    <div>
                        <ul th:each="role : ${roles}" class="checkbox-list">
                            <li><span class="primary" th:text="${role.name}">Developer</span>
                                <a class="button" th:href="@{|/roles/${role.id}/edit|}">Edit</a>
                            </li>
                        </ul>
                    </div>
                    <div class="actions add-new-role">
                        <form th:action="@{/roles/new}" th:method="post">
                            <input type="text" placeholder="New Role...">
                            <button class="button" type="submit">Add</button>
                        </form>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>