<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
    <body>
    <div th:replace="layout :: flash"></div>
        <header th:replace="layout :: header"></header>
        <nav>
            <ul>
                <li><a href="index.html">Projects</a></li>
                <li><a href="collaborators.html">Collaborators</a></li>
                <li class="selected"><a th:href="@{/roles}">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <form th:action="@{|/roles/${role.id}/update|}" method="post" th:object="${role}">
                    <input type="hidden" th:field="*{id}"/>
                    <h2>Edit Role</h2>
                    <div>
                        <ul class="checkbox-list">
                            <li style="height: 120px;"><input type="text" th:field="*{name}" th:placeholder="*{name}"/>
                                    <button class="button" type="submit">Update</button>
                                    <a class="button" th:href="@{/roles}">Cancel</a>
                            </li>
                        </ul>
                    </div>
                </form>
                <form th:action="@{|/roles/${role.id}/delete|}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </section>
    </body>
</html>